%rebase('baza.html', naslov='Seznam artiklov')
<p>
  <a href="{{ROOT}}">Nazaj na prvo stran</a>
</p> 



<p>
  Išči: <input id="isci" type="text" oninput="isci()"/>  
</p>


<p>
      <a href="{{ROOT}}oddaj_narocilo" class="myButton">Oddaj naročilo</a>
</p>

<p>
  <a href="{{ROOT}}dodaj_artikel" class="myButton">Dodaj nov artikel</a>
</p>



  <p>
      <a href="{{ROOT}}povecaj_zalogo" class="myButton">Povečaj zalogo</a>
  </p>



<table class="table table-hover" >
  <tr>
        <th>id</th>
        <th>Izdelek</th>
        <th>Zaloga</th>
        <th>Cena</th>
  </tr>

  %for (id,Izdelek,Zaloga,Cena) in artikli:
    <tr>
         <td>{{id}}</td>
         <td>{{Izdelek}}</td>
         <td>{{Zaloga}}</td>
        <td>{{Cena}}</td>
    </tr>
  %end
</table>

<script>
'use strict'
function isci(){
  let vrednost = document.getElementById('isci').value;
  let tabela = document.getElementById('izpis');
  [...tabela.rows].forEach(vrstica => {
    let vsebina = vrstica.cells[1].innerText
    if(vsebina.toLocaleLowerCase().indexOf(vrednost.toLocaleLowerCase()) >= 0){
      vrstica.style.display = ''
    } else {
      vrstica.style.display = 'none'
    }      
    })
}

</script>