%rebase('baza.html', naslov='Seznam artiklov')




<div style="align-content: center;">
  Išči: <input id="isci" type="text" oninput="isci()" style="align-content: center;"/>  
</div>
<!--

<p>
      <a href="{{ROOT}}oddaj_narocilo" class="myButton">Oddaj naročilo</a>
</p>
-->
<div style="align-content: center;">
  <a href="{{ROOT}}dodaj_artikel" class="myButton" style="align-content: center;">Dodaj nov artikel</a>
</div>



  <div style="align-content: center;">
      <a href="{{ROOT}}povecaj_zalogo" class="myButton" style="align-content: center;">Povečaj zalogo</a>
  </div>



<table class="table table-hover" id="izpis">
  <tr>
        <th>id</th>
        <th>Izdelek</th>
        <th>Zaloga</th>
        <th>Cena</th>
        <th>Naročilo</th>
  </tr>

  %for (id,Izdelek,Zaloga,Cena) in artikli:
    <tr>
         <td>{{id}}</td>
         <td>{{Izdelek}}</td>
         <td>{{Zaloga}}</td>
         <td>{{Cena}}</td>
         <td>
          <div class="akcije">
            <form action="/artikli/naroci/{{id}}" method="get" class="akcija">
              <a href="#" onclick="this.parentElement.submit()">Naroči</a>
            </form>
          </div>
         </td>
    </tr>
  %end
</table>

<script>
'use strict'
function isci(){
  let vrednost = document.getElementById('isci').value;
  let tabela = document.getElementById('izpis');
  [...tabela.rows].forEach(vrstica => {
    let vsebina = vrstica.cells[1].innerText
    if(vsebina.toLocaleLowerCase().indexOf(vrednost.toLocaleLowerCase()) >= 0){
      vrstica.style.display = ''
    } else {
      vrstica.style.display = 'none'
    }      
    })
}

</script>