%rebase('baza.html', naslov='Nov uporabnik' )

<p>
    <a href="{{ROOT}}">Nazaj na prvo stran</a>
</p>

<p>Dodajanje novega uporabnika</p>





<form action="{{ROOT}}dodaj_uporabnika" method="POST">
    <p>Ime: <input name="Ime" type="text" value="{{Ime}}" required></p>
    <p>Priimek: <input name="Priimek" type="text" value="{{Priimek}}" required></p>
    <p>Naslov: <input name="Naslov" type="text" value="{{Naslov}}" required></p>
    <p>
        <label for="Zaposlen">Zaposlen: </label>
        <select id="Zaposlen" name="Zaposlen">
            <option value="True"> Da </option>
            <option value="False"> Ne </option>
        </select> 
    </p>
    <p>
        <button class="myButton" type="submit" >
            Dodaj uporabnika
        </button>
    </p>

</form>

