%rebase('baza.html', naslov='Nov uporabnik')

<p>
    <a href="{{ROOT}}">Nazaj na prvo stran</a>
</p>

<p>Dodajanje novega uporabnika</p>





<form action="{{ROOT}}dodaj_uporabnika" method="POST">
    <p>Ime: <input name="Ime" type="text" value="{{Ime}}"></p>
    <p>Priimek: <input name="Priimek" type="text" value="{{Priimek}}"></p>
    <p>Naslov: <input name="Naslov" type="text" value="{{Naslov}}"></p>
    <p>Zaposlen: <input name="Zaposlen" type="text" value="{{Zaposlen}}"></p>
    <p>
        <button class="myButton" type="submit" >
            Dodaj uporabnika
        </button>
    </p>

</form>

