%rebase('baza.html', naslov='Dodaj artikel')


<p>
    <a href="{{ROOT}}">Nazaj na prvo stran</a>
</p>

<p>
Dodajanje novega artikla
</p>

<form action="{{ROOT}}dodaj_artikel" method="POST">
    <p>Izdelek: <input name="Izdelek" type="text" value="{{Izdelek}}"></p>
    <p>Zaloga: <input name="Zaloga" type="text" value="{{Zaloga}}"></p>
    <p>Cena: <input name="Cena" type="text" value="{{Cena}}"></p>
    <p><button class="myButton" type="submit" >
        Dodaj artikel
    </button>  </p> 
</form>

