%rebase('baza.html', naslov='Naročila')



<table class="table table-hover"  >
    <tr>
        <th>Številka naročila</th>
        <th>Uporabnik</th>
        <th>Izdelek</th>
        <th>Datum</th>
        <th>Količina</th>
        <th>Pošiljanje</th>
        <th>Rok plačila</th>
        <th>Način plačila</th>
        <th>Cena</th>
  </tr>

  %for (stevilka_narocila, uporabnik,izdelek,datum,kolicina, posiljanje, rok_placila, nacin_placila,cena) in narocila:
    <tr>
       <td>{{stevilka_narocila}}</td>
       <td>{{uporabnik}}</td>
       <td>{{izdelek}}</td>
       <td>{{datum}}</td>
       <td>{{kolicina}}</td>
       <td>{{posiljanje}}</td>
       <td>{{rok_placila}}</td>
       <td>{{nacin_placila}}</td>
       <td>{{cena}}</td>
    </tr>
  %end
</table>
