%rebase('baza.html', naslov='Oddaj naročilo')



<form action="{{ROOT}}oddaj_narocilo" method="POST">
    <p>Id uporabnika: <input name="id_uporabnika" type="text" value="{{id_uporabnika}}" required> </p>

    <p>Artikel: 
        
        %if defined('id_izdelka'):        
        <input name="id_izdelka" type="hidden" value="{{id_izdelka}}">
        {{id_izdelka}}
        
        %else:                 
        <input name="id_izdelka" type="hidden" value="{{id_izdelka}}">        
        %end 
    </p>
    <p>Količina: <input name="kolicina" type="text" value="{{kolicina}}" required></p>
    <p>    
        <label for="posiljanje">Pošiljanje: </label>
        <select id="posiljanje" name="posiljanje">
            <option value="True"> Da </option>
            <option value="False"> Ne </option>
        </select> 
    </p>
    <p>
        <label for="nacin_placila"> Način plačila: </label>
        <select id="nacin_placila" name="nacin_placila">
            <option value="Plačilo po povzetju"> Plačilo po povzetju </option>
            <option value="Plačilo po predračunu"> Plačilo po predračunu </option>
            <option value="S kreditno kartico"> S kreditno kartico </option>
            <option value="PayPal"> PayPal </option>
        </select> 
    <p>        <button class="myButton" type="submit" >
        Oddaj naročilo
    </button> </p> 