%rebase('baza.html', naslov='Oddaj naročilo')

<form action="{{ROOT}}oddaj_narocilo" method="POST">
    <p>Id uporabnika: <input name="id_uporabnika" type="text" value="{{id_uporabnika}}"></p>

    <p>Artikel: 
        
        %if defined('id_izdelka'):        
        
        {{id_izdelka}}
        
        %else:                 
        <input name="id_izdelka" type="text" value="{{id_izdelka}}">        
        %end 
    </p>
    <p>Količina: <input name="kolicina" type="text" value="{{kolicina}}"></p>
    <p>Pošiljanje: <input name="posiljanje" type="text" value="{{posiljanje}}"></p>
    <p>Način plačila: <input name="nacin_placila" type="text" value="{{nacin_placila}}"></p>
    <p>        <button class="myButton" type="submit" >
        Oddaj naročilo
    </button> </p> 