%rebase('baza.html', naslov='Začetna stran')



<p style="text-align:center;">
Če še niste prijavljeni potem se registrirajte.
</p>
<p>
    <a href="{{ROOT}}dodaj_uporabnika" class="myButton" >Registracija novega uporabnika</a>
</p>

<p style="text-align:center;">
    Sicer pa si lahko ogledate ponubo izdelkov in oddate svoje naročilo.
</p>


<p>

<p>
    <a href="{{ROOT}}artikli" class="myButton">Seznam izdelkov</a>
</p>
</p>

<p>

<p>
    <a href="{{ROOT}}oddaj_narocilo" class="myButton">Oddaj naročilo</a>
</p>
</p>


